# ========================================================================
# Automated Timesheet Management Platform - Runtime Environment
# Managed by Ansible Infrastructure-as-Code (Week 13)
# ========================================================================

SPRING_CONFIG_LOCATION={{ app_config_dir }}/application.properties
SERVER_PORT={{ app_server_port }}
JAVA_OPTS="{{ java_opts }}"
LOG_PATH={{ app_log_dir }}
DB_URL="{{ db_url }}"
DB_USER="{{ db_username }}"
DB_PASS="{{ db_password }}"
